* {
  margin: 0;
  padding: 0;
}

body,html {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

nav {
  color:white;
  position:absolute;
  font-size: 2rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-75%);
  text-align: center;
  
}